body{
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 100vh;
}
input{
    border: solid grey 1px;
    height:40px;
    width: 300px;
    border-radius: 2%;
}
.container{
    background-color: white;
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
h2{
    font-size: large;
    text-align: center;
    font-weight: bold;
}
p{
    font-size: small;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
button{
    background-color: skyblue;
    height: 40px;
    width: 130px;
}
.ch{
    font-size: x-small;
}

.em{
    margin-left: 20px;
}
.fr{
    display: flex;
   
}